.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__h1 {
    margin-bottom: 26px;
}

.cart-cont {
    max-width: 650px;
}

.cart {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.cart__sub {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart__orders {
    margin-top: 13px;
    position: relative;
    flex-direction: column;
    width: 100%;
}

.cart__order {
    justify-content: space-between;
    width: 100%;
}

.cart__orders .cart__order {
    width: 100%;
    padding: 14px 0;
    border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.cart__orders .cart__order:first-child {
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    border-top: 1px solid rgba(229, 229, 229, 1)
}

.cart__orders, .cart__order, .cart__left, .cart__right {
    display: flex;
}

.btns-minplus, .cart__cost {
    align-self: center;
}

.btns-minplus, .cart__img-cont {
    margin: 0 14px;
}

.cart__right {
    width: 20%;
    justify-content: flex-end;
}

.cart__name {
    align-self: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.cart__img-cont {
    width: 100px;
}

.cart__img {
    width: 100%;
    object-fit: contain;
    object-position: center center;
    border-radius: 4px;
}

.cart__left {
    width: 70%;
}

.cart__cost {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 18px;
}

.btn-in-cart {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    padding: 10px 20px;
    width: 162px;
}

.cart__total {
    margin: 28px 0 24px;
}

.cart__orders {
    display: flex;
    position: relative;
    flex-direction: column;
    grid-column: span 8;
    grid-row: 5/span 2;
}

.cart__orders .cart__order {
    width: 100%;
    padding: 14px 0;
    border-bottom: 2px solid var(--card-grey);
}

.cart__orders .cart__order:first-child {
    border-bottom: 2px solid var(--card-grey);
    border-top: 2px solid var(--card-grey);
}

.cart__sub>.trash-btn>img {
    margin-left: 10px;
}

.cart__order {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 30px;
    grid-template-columns: repeat(4, minmax(0, 1fr)) 20px;
    justify-items: start;
}

.cart__name {
    justify-self: start;
}

.cart__cost, .cart__count {
    justify-self: center;
    align-self: center;
}

.cart__img-cont {
    margin-right: 14px;
}

.cart__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.cart__img-cont {
    width: 100px;
    text-align: left;
}

.cart__img {
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.cart__sinfo {
    height: 34px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 2px solid var(--more-card-grey);
}

.cart__cost {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 18px;
}

@media (max-width:1023px) {
    .wrapper {
        display: block;
    }
    .cart__orders {
        grid-column: span 12;
    }
    .btn {
        grid-column: span 7;
    }
    .breadcrumbs {
        grid-column: span 12;
    }
}

@media (max-width:639px) {
    .cart__orders {
        grid-row: 1fr 1fr;
    }
    .cart__order {
        grid-template-rows: 1fr content;
        grid-template-columns: 0fr 2fr 1fr 1fr;
    }
    .breadcrumbs {
        display: none;
    }
    .cart__orders {
        grid-row: 3;
    }
    .cart__cost {
        grid-row: 2;
        margin: 0;
        justify-self: center;
        text-align: center;
    }
    .btn {
        grid-row: 5;
        grid-column: span 12;
    }
    .cart__count {
        grid-column: span 2;
    }
    .header__h1 {
        margin: 0 auto 26px;
        padding-left: 60px;
        font-size: 16px;
    }
    .cart__order .trash-btn {
        grid-column: -1/span 1;
    }
}