.wrapper, .main {
    width: 100%;
    display: grid;
    --cols: 12;
    grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
    grid-column-gap: 16px;
}

.header, .main {
    grid-column: span 12;
}

/* -----------------------------MAIN---------------- */

.main {
    position: relative;
}

.main::before {
    position: absolute;
    content: '';
    height: 100%;
    transform: translate(-50%, 0);
    top: 0;
    left: 50%;
    width: 135vw;
    background-color: var(--light-grey);
    z-index: -3;
}

/* -----------------------------toggle-panel---------------- */

.breadcrumbs {
    grid-column: span 12;
    height: 16px;
    margin: 14px 0;
}

.toggle-panel {
    /* overflow-x: hidden; */
    align-self: center;
    grid-column: span 12;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    max-width: 100%;
}

.toggle-panel__btn {
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    width: 50%;
    height: 98px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-panel__btn>a {
    text-decoration: none;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    color: black;
    text-align: center;
}

.toggle-panel__btn2 {
    background-image: url('../img/png/cats_back.png'), url('../img/png/cats_img.png');
    background-blend-mode: overlay, color;
}

.toggle-panel__btn1 {
    background-image: url('../img/png/dogs_back.png'), url('../img/png/dogs_img.png');
    background-blend-mode: overlay, color;
}

.toggle-panel__btn2::before {
    position: absolute;
    content: '';
    width: 100vw;
    height: 100%;
    background-image: url('../img/png/cats_back.png'), url('../img/png/cats_img.png');
    background-blend-mode: overlay, color;
    top: 0;
    left: 99%;
}

.toggle-panel__btn1::after {
    position: absolute;
    content: '';
    background-image: url('../img/png/dogs_back.png'), url('../img/png/dogs_img.png');
    background-blend-mode: overlay, color;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 99%;
}

.toggle-panel__img {
    display: block;
    width: 100%;
    object-fit: contain;
    object-position: center center;
}

/* -----------------------------filters---------------- */

.filters {
    grid-column: span 3;
}

.btn-filter {
    display: none;
}

/* -----------------------------cards---------------- */

.cards {
    grid-column: span 9;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.cards__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    cursor: pointer;
    border: 1px solid var(--border-grey);
    border-radius: 4px;
}

.cards__item:hover .cards__name {
    color: var(--main-color);
}

.cards__item:active {
    border-color: var(--main-color);
}

.cards__img {
    width: 100%;
    object-fit: contain;
    align-self: center;
}

.cards__name {
    margin-left: 14px;
    margin: 8px 0px 4px 14px;
}

.cards__cost {
    margin-left: 14px;
}

.btn-in-cart {
    width: 60%;
    max-width: 116px;
    height: 31px;
    margin: 8px 0 14px 14px;
}

.btn-more {
    margin-top: 42px;
}

/* -------adaptive-------------------- */

@media (max-width:1023px) {
    .wrapper {
        display: block;
    }
    .main {
        grid-column: 0;
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-auto-columns: none;
    }
    .breadcrumbs {
        grid-column: span 6;
    }
    .toggle-panel {
        grid-column: span 6;
    }
    .filters {
        display: none;
    }
    .cards {
        align-self: center;
        grid-column: 1/span 6;
        grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
        grid-auto-rows: minmax(0, 1fr);
    }
    .cards__img-container {
        flex: 1;
        width: 100%;
    }
    .btn-input {
        display: none;
    }
    .search-input-container {
        width: 50%;
    }
    .btn-filter {
        display: block;
    }
    .btn-more-cont {
        grid-column: 3/span 2;
    }
    .btn-more {
        width: 50%;
        margin: 0 auto;
        margin-top: 42px;
    }
    .btn-filter {
        display: flex;
        flex-wrap: nowrap;
        background-color: transparent;
        outline: none;
        border: none;
        grid-column: span 4;
        justify-self: start;
        font-size: 16px;
        align-items: center;
        color: var(--main-color);
        grid-column: 1/span 3;
    }
    .btn-filter>span {
        align-self: center;
    }
}

@media (max-width:639px) {
    .wrapper {
        display: block;
    }
}